.tbody .tr .td { 
    white-space: nowrap;
}
label.user.form-label {
    font-family: sans-serif;
    font-size: 20px;
    padding-left: 10px;

}
input.form-control.user-search {
    border-radius: 3.25rem;
}

button.btn.btn-primary.user-button {
    border-radius: 50px;
}
span.badge.badge-secondary.user-round{
    font-size: 14px;
    padding: 8px;
    border-radius: 12px;
}